@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --primary-gradient:hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --neutral-pale-blue: hsl(243, 100%, 93%);
    --neutral-dark-blue: hsl(228, 56%, 26%);
    --neutral-vdark-blue: hsl(229, 57%, 11%)
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(229, 57%, 11%);
	background-image: url('./images/bg-desktop.png');
	background-repeat: no-repeat;
	background-position: bottom;
	overflow: hidden;
    
}

 /* Container */
.main-container{
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    padding: 6rem;
    justify-content: center;
    min-width: 600px;
    height: fit-content;
    
}


.left-container{
    background-color: var(--neutral-dark-blue);
    border-radius: 10px 100px 10px 10px;
    width: auto;
    padding: 30px 35px;

}
.right-container{
    margin-top: 50px;
    background-color: var(--neutral-dark-blue);
    border-radius: 10px;
    padding: 30px 35px;
    position: relative;
    justify-content: center;
    
    
    
}

/* icon-collection */

.icon-collection{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    margin:20px 80px 0 0;

    
}
.icon{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--neutral-vdark-blue);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    

    
}
p{
    margin: 0 0 10px 0;
    color: var(--neutral-pale-blue)
}
.status-gb{
    display: flex;
    position: absolute;
    background-color: white;
    padding:10px;
    width: fit-content;
    font-size: 32px;
	font-weight: bold;
    align-items: center ;
    margin: -100px 0 0 64%;
    border-radius: 10px;

}
.status-gb span{
    color: hsl(229, 7%, 65%);
	font-weight: 700;
	margin: 5px 0 0 10px;
	text-transform: uppercase;
	font-size: 12px;
	

}
.status-gb:before{
    content: "";
    border-right: 20px solid white;
	border-top: 20px solid white;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
    position: absolute;
    bottom: -20px;
	right: 0px;
    

}
.status-container{
    display: flex;
    background-color: var(--neutral-vdark-blue);
    width: 500px;
    height: 15px;
    border-radius: 10px;
    padding: 3px;

}
.status-bar{
    display: flex;
	align-items: center;
	width: 80.5%;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	border-radius: 20px;
    justify-content: flex-end;
    
    
}
.status-dot{
    background-color: white;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    display: flex;
    
   
    

}
.label-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.label-text{
    font-size: 11px;
}



/*not finished*/
@media only screen and (max-width: 768px){
    body{
        align-items: center;
        background-image: url('./images/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        
        
    }
    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .main-container > *{
        margin: 10px 40px;
        box-sizing:content-box;
    }
    .icon-collection{
        display: flex;
        grid-gap: 10px;
        margin:20px 80px 0 0;
    
        
    }

    
    .status-gb:before{
        display: none;
        
    
    }
    .status-gb{
       margin: 15% 0 0 20%;
    }

    .status-container{
        display: flex;
        background-color: var(--neutral-vdark-blue);
        width: auto;
        height: 15px;
        border-radius: 10px;
        padding: 3px;
    
    }


    
}